*{padding: 0;margin: 0;box-sizing: border-box;}
section{
    min-width: 100%;
    min-height: 100vh;
    background-image: url(img/more-leaves-on-green.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(124, 1, 155);
    width: 100%;
    height: 70px;
    padding: 0 10%;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    z-index: 10;
}
.barra ul{
    display: flex;
    list-style: none;
}
.barra li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-weight: 900;
}
.barra a{
    text-decoration: none;
    color: black;
    transition: all .5s;
}
.barra a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.activo{
    color: wheat;
    background-color: rgb(124, 1, 155);
    padding: 10px;
}
.barra h1{
    font-weight: 200;
    text-transform: capitalize;
}

.redes-socieles{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70px;
    height: 230px;
    padding: 10px;
    background-image: url(img/Redes\ fondo.jpg);
    border-radius: 0px 10px 10px 0px;
    position: sticky;
    top: 100px;
}
.redes-socieles ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.redes-socieles li{
    display: flex;
    justify-content: space-between;
    list-style: none;
}



.redes-socieles img{
    display: flex;
    width: 50px;

}
.timeline{
    width: 90%;
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    position: relative;

}
.timeline::after{
    content: "";
    width: 2px;
    height: 100%;
    top: 0;
    background-color: rgb(255, 251, 251);
    position: absolute;
    left: calc(50% - 1px);
    z-index: 1;
}
.evento{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    position: relative;
}
.evento::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: rgb(165, 30, 198);
    position: absolute;
    border: 2px solid white;
    border-radius: 20px;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    z-index: 2;
}
.foto{
    width: 320px;
    height: 320px;
    border: 10px solid rgb(165, 30, 198);
    position: relative;
    box-shadow: 5px 5px 5px 5px white;
    left: 150px;
}
.foto::after{
    content: "";
    display: block;
    border: 20px solid transparent;
    border-left: 20px solid rgb(165, 30, 198);
    position: absolute;
    right: -50px;
    top: calc(50% - 20px);
}
.foto img{
    width: 300px;
    height: 300px;
}
.evento h3{
    display: flex;
    align-items: center;
    width: calc(45% - 20px);
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
}
.evento h3::first-line{
    font-weight: 900;
}


